<%= form_for [:admin, @album], html: {multipart: true} do |f| %>

	<div class="row">
    <div class="form-group col-md-4">
      <label>Album cover</label>
      <br class="album-break">
      <div class="album-cover-edit">
        <div class="inner-box droppable">
          <% if !@album.cover.nil? %>
            <% if @album.cover.length > 0 %>
             <%= image_tag(@album.cover, id: 'album-cover', alt: "album cover", class: "img-thumbnail draggable ui-widget-content" ) %>
            <% end %>
          <% end %>
          <div class="delete-cover">
            <span>Remove cover</span>
          </div>
          <p>Drag and drop one of the photos here</p>
        </div>
      </div>      
    </div>  

    <div class="col-md-3 col-sm3">
      <div class="row">
        <div class="col-md-12 col-sm-12 form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", autofocus: true %>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-12 col-sm-12">
          <%= f.hidden_field :cover, class: "form-control ui-widget-header" %>
          <%= f.submit "Save album", class: "btn btn-success" %>
        </div>  
      </div>
    </div>
  </div>
  <%= f.fields_for :pictures, @album.pictures.build do |upload| %>
		<div class="row">
			<div class="col-md-4">
				<h4>Add files</h4>
				<%= file_field_tag 'picture[upload]', multiple: true, id: 'picture_upload' %>
			</div>
		</div>
	<% end %>
<% end %>

<br class="end-of-form">

<% if @pictures.images.length > 0 %>
<div class="row">
	<div class="col-md-12">
    <h3>Photos</h3>
    <table class="table-custom pic-list">
      <% @pictures.images.each do |picture| %>
        <% if picture.id %>
          <tr>
            <td class="image gallery">
              <%= link_to(image_tag(picture.upload.url(:small),
              id: picture.id, 
              alt: "photo", 
              class: "img draggable ui-widget-content" ),
              picture.upload.url,
              target: '_blank'
              ) 
              %>
            </td>
            <td>
              <%= picture.upload.original_filename %>
            </td>
            <td class="buttons pull-right">
              <%= link_to 'Private',
                admin_pictures_make_protected_path(picture),
                class: "btn #{ is_protected(picture) } protected",
                remote: true, title: 'Private'
              %>
              <%= link_to 'Delete',
                [:admin, picture],
                method: :delete,
                class: 'btn btn-danger delete-file',
                data: { confirm: 'Are you sure you want to delete this picture?', toggle: 'tooltip', placement: 'bottom' },
                remote: true, title: 'Delete photo'
              %>
            </td>
          </tr>
        <% end %>  
      <% end %>
    </table>
    <br>
  <% else %>
    <p class="no-content">There are no images in this album</p>
  <% end %>
  <% if @pictures.files.length > 0 %>
    <h3>Files</h3>
    <table class="table-custom file-list">
      <% @pictures.files.each do |picture| %>
        <% if picture.id %>
          <tr>
            <td class="file">
              <%= link_to media_file_icon(picture.upload_content_type),picture.upload.url, target: '_blank' %>
            </td>
            <td>
              <%= link_to picture.upload.original_filename,picture.upload.url, target: '_blank' %>  
            </td>
            <td class="buttons pull-right">
              <%= link_to 'Private',
                admin_pictures_make_protected_path(picture),
                class: "btn #{ is_protected(picture) } protected",
                remote: true, title: 'Private'
              %>
              <%= link_to 'Delete',
                [:admin, picture],
                method: :delete,
                class: 'btn btn-danger delete-file',
                data: { confirm: 'Are you sure you want to delete this picture?', toggle: 'tooltip', placement: 'bottom' },
                remote: true, title: 'Delete photo'
              %>
            </td>
          </tr>
        <% end %>  
      <% end %>
    </table>
	<% end %>
  <%= will_paginate @pictures %>
  </div>
</div>

