<div class="new-album-controlls">
  <%= form_for [:admin, album], html: {method: :post, remote: true } do |f| %>
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-9">
        <%= f.text_field :name, class: "form-control", autofocus: true, placeholder: 'Name' %>
      </div>
      <%= f.hidden_field :created_by, value: current_user.name %>
      <div class="">
        <%= f.submit "Add", class: "btn btn-sm btn-success" %>
      </div>
    </div>

  <% end %>
  <div class="plus">
    <p>Add new album<span class="glyphicon glyphicon-plus-sign pull-right"></span></p>
  </div>
</div>
<h4><a href="/admin">Albums</a></h4>

<ul class="album-list">
  <% albums.each do |album| %>
    <li class="<%= active_page(edit_admin_album_path(album)) %>"> 
      
      <div class="action">
        <%= link_to '',
          [:admin, album],
          method: :delete,
          class: 'pull-right glyphicon glyphicon-remove-circle album-delete-icon delete-album',
          data: { confirm: 'Are you sure you want to delete this album?', toggle: "tooltip", placement: "bottom" }, 
          title: "Delete album"
        %>
      </div>
      <%= link_to album.name, edit_admin_album_path(album), class: 'left-link ' %>
    </li>
  <% end %>
</ul>
<br>
