<tr class="pic-div">
  <td class="image">
    <a href="<%= edit_admin_album_path(album) %>">
      <% if !album.cover.nil? %>
        <% if album.cover.length != 0 %>
          <div class="album-cover">
            <img src="<%= album.cover %>" alt="album cover"  width="50px" />
          </div>
        <% else %>
          <i class="glyphicon glyphicon-folder-open"></i>
        <% end %>
      <% else %>
        <i class="glyphicon glyphicon-folder-open"></i>
      <% end %>
    </a>
  </td>
  <td>
    <p><%= link_to album.name, edit_admin_album_path(album) %></p>
  </td> 
  <td class="hidden-xs"><%= album.created_at.strftime('%Y-%m-%d ') %></td>
  <td class="hidden-xs"><%= album.created_by %></td>
  <td class="buttons pull-right">
    <%= link_to 'Edit',
      edit_admin_album_path(album),
      class: "btn btn-info"
    %>
    <%= link_to 'Delete',
      [:admin, album],
      method: :delete,
      class: 'btn btn-danger delete-album',
      data: { confirm: 'Are you sure you want to delete this album?' }
    %>  
  </td> 
</tr>