<tr>
  <td class="image gallery">
    <%= link_to(image_tag(picture.upload.url(:small),
    id: picture.id, 
    alt: "photo", 
    class: "img draggable ui-widget-content" ),
    picture.upload.url,
    target: '_blank'
    ) 
    %>
  </td>
  <td>
    <%= picture.upload.original_filename %>
  </td>
  <td class="buttons pull-right">
    <%= link_to 'Private',
      admin_pictures_make_protected_path(picture),
      class: "btn #{ is_protected(picture) } protected",
      remote: true, title: 'Private'
    %>
    <%= link_to 'Delete',
      [:admin, picture],
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'Are you sure you want to delete this picture?', toggle: 'tooltip', placement: 'bottom' },
      remote: true, title: 'Delete photo'
    %>
  </td>
</tr>