<tr>
  <td class="file">
    <%= link_to media_file_icon(picture.upload_content_type),picture.upload.url, target: '_blank' %>
  </td>
  <td>
    <%= link_to picture.upload.original_filename,picture.upload.url, target: '_blank' %>  
  </td>
  <td class="buttons pull-right">
    <%= link_to 'Private',
      admin_pictures_make_protected_path(picture),
      class: "btn #{ is_protected(picture) } protected",
      remote: true, title: 'Private'
    %>
    <%= link_to 'Delete',
      [:admin, picture],
      method: :delete,
      class: 'btn btn-danger delete-file', 
      data: { confirm: 'Are you sure you want to delete this picture?', toggle: 'tooltip', placement: 'bottom' },
      remote: true, title: 'Delete photo'
    %>
  </td>
</tr>