<li class="<%= active_page(edit_admin_album_path(album)) %>">   
  <div class="action">
    <%= link_to '',
      [:admin, album],
      method: :delete,
      class: 'pull-right glyphicon glyphicon-remove-circle album-delete-icon',
      data: { confirm: 'Are you sure you want to delete this album?', toggle: "tooltip", placement: "bottom" }, 
      title: "Delete album"
    %>
  </div>
  <%= link_to album.name, edit_admin_album_path(album), class: 'left-link ' %>
</li>