<% if @result %>

	$('.album-list').append("<%= j render 'single_album', album: @album%>")
	$('.album-index-list').append("<%= j render 'single_index_album', album: @album %>")
	App.hideShowAlbumForm()
	$('#album_name').val('');
	App.flash('The album was created successfully!', 'notice');

<% else %>

	App.flash('There was an error in updating the album</p><ul><% @album.errors.each do |e,m| %><li><%= e %>: <%= m %></li><% end %></ul>', 'alert');

<% end %>