<% if [:admin, @result] %>
	<% if [:admin, @save] %>
    <% if @type == 'image' %>
      if($('.pic-list').length > 0){
		    $(".pic-list").append("<%=  j render 'single_pic', picture: @new_picture %>");
      }else{
        $('.no-content').remove();
        $('.end-of-form').after("<table class='table-custom pic-list'><%=  j render 'single_pic', picture: @new_picture %></table>");
      }
    <% else %>  
      $(".file-list").append("<%=  j render 'single_file', picture: @new_picture %>");
    <% end %>  
	<% end %>
<% else %>
	App.flash('There was an error in updating the album</p><ul><% @album.errors.each do |e,m| %><li><%= e %>: <%= m %></li><% end %></ul>', 'alert');
<% end %>