<tr>
  <td class="image">
    <%= link_to(image_tag(picture.upload.url(:thumb),
    id: picture.id, 
    alt: "photo", 
    class: "draggable ui-widget-content" ) ,
    picture.upload.url,
    data: { 'target' : 'flare', 'data-flare-gallery' : 'gallery1', 'data-flare-scale' : 'fillmax'}
    ) 
    %>
  </td>
  <td class="buttons pull-right">
    <a href="" class="btn btn-default">Private</a>
    <%= link_to 'Delete',
      [:admin, picture],
      method: :delete,
      class: 'btn btn-danger',
      data: { confirm: 'Are you sure you want to delete this picture?', toggle: 'tooltip', placement: 'bottom' },
      remote: true, title: 'Delete photo'
    %>
  </td>
</tr>