
<% if @picture.images.new_record? %>
	$(".pic-list").append("<%=  j render 'single_pic', picture: @picture %>");

<% elsif @picture.files.new_record? %>
  $(".file-list").append("<%=  j render 'single_file', picture: @picture %>");

<% else %>
  alert("Failed to upload image: <%= j @picture.errors.full_messages.join(', ').html_safe %>");

<% end %>

