<h3>Pictures</h3>

<br>
<div class="row">
  <div class="col-md-4">
    <label>Add more photos</label>
    <%= form_for(@picture) do |f| %>
      <%= f.file_field :upload, id: 'picture_upload' %>
      <br>
      
    <% end %>
  </div>
</div>

<br><br>
<div class="row">
  <div class="col-md-12">
    <ul class="pic-list">
      <% @pictures.each do |p| %>
        <%= render 'single_pic', picture: p %>
      <% end %>
    </ul>
  </div>
</div>



