$('.protected').bind('ajax:success', function() {  
  
  <% if @picture.protected == true %>  
    console.log('in')
    $(this).removeClass('btn-default');
    $(this).addClass('btn-success');
  
  <% else %>
    console.log('out')
    $(this).removeClass('btn-success');
    $(this).addClass('btn-default');
  
  <% end %>
});  