<h3>Albums</h3>
<br>
<ul class="album-index-list">
  <% @albums.each do |album| %>
    <li>
      <div class="pic-div">
        <a href="<%= album_path(album) %>">
          <% if !album.cover.nil? %>
            <% if album.cover.length != 0 %>
            <div class="album-cover">
              <img src="<%= asset_path 'default.png' %>" width="150px" />
              <img src="<%= album.cover %>" alt="album cover" class="img-thumbnail album-cover-skew hidden-ie9" />
            </div>
            <% else %>
              <img src="<%= asset_path 'default.png' %>" width="150px" />  
            <% end %>
          <% else %>
            <img src="<%= asset_path 'default.png' %>" width="150px" />
          <% end %>
        </a>
        <br>
        <p><%= link_to album.name, album_path(album) %></p>
      </div>
    </li>
  <% end %>
</ul>
<%= will_paginate @albums %>