<div class="row">
  <div class="col-md-12">
    <br>
    <p><a href="/">Back to albums</a></p>
    <div class="row">
      <div class="col-md-8">
        <h3 class="album-h3"><%= @album.name %></h3>  
      </div>
      <div class="col-md-4">
        <p class="pull-right">Created: <%= @album.created_at.strftime('%Y-%m-%d ') %></p>
      </div> 
    </div>
    <hr>
    <br>
    <% if @pictures.images.length > 0 %>
      <h3>Photos</h3>
      <ul class="pic-list album-pic-list">
        <% authenticate_content(@pictures.images).each do |picture| %>
          <% if picture.id %>
            <li>
              <div class="pic-div">
                <%= link_to(image_tag(picture.upload.url(:small), alt: "photo", class: "img-thumbnail" ) ,picture.upload.url, class: "colorbox") %>
              </div>
              <div class="pic-div-responsive">
                <%= link_to(image_tag(picture.upload.url(:small), alt: "photo", class: "img-thumbnail" ) ,picture.upload.url(:medium), class: "colorbox") %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <br>
    <% else %>
      <p>There are currently no photos in this album</p>
    <% end %>
    <% if @pictures.files.length > 0 %>
      <h3>Files</h3>
      <ul class="file-list">
        <% authenticate_content(@pictures.files).each do |picture| %>
          <% if picture.id %>
            <li>
              <div class="file-div">
                <%= link_to media_file_icon(picture.upload_content_type),picture.upload.url, target: '_blank' %>
                <p><%= link_to picture.upload.original_filename ,picture.upload.url, target: '_blank' %></p>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>
  <%= will_paginate @pictures %>
</div>