<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      body{
        font-family: helvetica;
        background: #F8F8F8;
      }

      table{
        border-spacing: 0;
      }
      .header{
        background: rgb(52, 152, 219);
      }
      .header td{
        font-size: 24px;
        color: #fff;
        height: 50px;
        padding: 15px 15px;
        background: rgb(52, 152, 219);
        text-align: center;
      }
      .table-body{
        background: #fff;
        font-size: 14px;
      }
      .table-body td{
        padding: 15px;
      }
      .footer{
        padding: 15px;
        background: rgb(52, 152, 219);
        text-align: center;
        color: #fff;
        font-size: 12px;
      }

    </style>
  </head>
  <body>
    <table width="550px" align="center">
      <tr class="header">
        <td colspan="3">Photo App</td>
      </tr>
      <tr class="table-body">
        <td colspan="3">
          <h4>Hi <%= @user.name %></h4>
          <p>You have received this email because of a password reset request for your account at the Carty Photo App.</p>
          <p><b>If you did not request this, please ignore this email.</b></p>
          <p>
            To continue, just click on the link below.
          </p>
          <p><%= link_to 'Reset Password', password_edit_url(user: @user, reset_password_token: @user.reset_password_token) %></p>
        </td>
      </tr>
      <tr class="footer">
        <td colspan="3">
          <p>&#169; 2014 JC design</p>  
        </td>  
      </tr>
    </table>
  </body>
</html>