<%= form_tag  url_for(controller: 'passwords', user: params[:user] , reset_password_token: params[:reset_password_token], action: 'update') do |f| %>
  
  <h3>Please fill in the form to reset your password</h3>
  <hr>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Email:</label>
      <%= email_field_tag :email, '',autofocus: true, autocomplete: 'off', class: 'form-control' %>
    </div>
  </div>

  <%= hidden_field_tag :id, @user.id %>
  <%= hidden_field_tag :reset_password_token, params[:reset_password_token] %>

  <div class="row">
    <div class="form-group col-md-4">
      <label>Password:</label>
      <%= password_field_tag :password, @user.password, autocomplete: 'off', class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label>Password confirmation:</label>
      <%= password_field_tag :password_confirmation, @user.password, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= submit_tag "Save", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
