<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 well sign-in">
    <h4>Forgot password</h4>
    <p>Add the email address that your account is associated with</p>

    <%= form_tag password_create_path do %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, params[:email], {autofocus: true, class: 'form-control'} %>
        </div>
      </div>
      <%= hidden_field_tag :reset_password_token, generate_token %>
      <%= hidden_field_tag :reset_password_sent_at, Time.now %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= submit_tag "Send", class: 'btn btn-success' %>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <p><%=link_to 'Sign in', new_user_session_path %></p>
        <p><%=link_to "Didn't receive confirmation instructions?", new_confirmation_path %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>