<%= form_tag  url_for(controller: 'confirmations', user: params[:user] , confirmation_token: params[:confirmation_token], action: 'update') do |f| %>
	
	<h3>You're almost finished. Create a password.</h3>
  <hr>
  <div class="row">
    <div class="form-group col-md-4">
    	<label>Email:</label>
			<%= email_field_tag :email, @user.email , {autofocus: true, class: 'form-control'} %>
  	</div>
  </div>

  <%= hidden_field_tag :confirmed_at, Time.now %>
  <%= hidden_field_tag :id, @user.id %>

  <div class="row">
    <div class="form-group col-md-4">
    	<label>Password:</label>
			<%= password_field_tag :password, @user.password, autocomplete: 'off', class: "form-control" %>
  	</div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <label>Password confirmation:</label>
			<%= password_field_tag :password_confirmation, @user.password, class: "form-control", label: "Lösenordsbekräftelse" %>
  	</div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= submit_tag "Save", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
