<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 well sign-in">
    <h4>Confirmation instructions</h4>
    <p>Add the email address we should send the instructions to.</p>

    <%= form_tag confirmations_path do %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, params[:email], {autofocus: true, class: 'form-control'} %>
        </div>
      </div>
      <%= hidden_field_tag :confirmation_token, generate_token  %>
      <%= hidden_field_tag :confirmation_sent_at, Time.now  %>
      <%= hidden_field_tag :confirmed_at, nil  %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= submit_tag "Send", class: 'btn btn-success' %>
        </div>
      </div>
      <div class="row">
      <div class="col-md-12">
        <p><%=link_to 'Sign in', new_user_session_path %></p>
        <p><%=link_to 'Forgot password', password_new_path %></p>
      </div>
    </div>
    <% end %>
  </div>
</div>