body, html
  //background: #F8F8F8 !important
  height: 100% !important
  color: rgb(52, 152, 219) !important
.admin
  hr
    border-top: 1px solid #E6F0FF
  .btn-success
    background: rgb(52, 152, 219) !important
    color: #fff !important
    border-color: #0066FF !important

  .btn-info
    background: #808080 !important
    border: 1px solid #686868 !important
    color: #fff !important
    &:hover
      background: #909090 !important

  .container
    width: 100% !important
    height: 100% !important

  .content
    height: 100%

  .main-content
    top: 50px
    margin-bottom: 30px
    padding-bottom: 50px
    

  .navbar-photos
    background: rgb(52, 152, 219)

    color: #fff
    .navbar-brand
      img
        width: 30px
    a
      color: #fff

  .red
    color: rgb(169, 68, 66)

  .navbar-nav > li > .dropdown-menu
    a
      color: #000

  .nav > li > a:hover, .nav > li > a:focus
    background: rgba(238, 238, 238, 0.6) !important

  .nav .open > a, .nav .open > a:hover, .nav .open > a:focus
    background: rgba(238, 238, 238, 0.6) !important

  .navbar-toggle, .navbar-toggle .icon-bar
    border: 1px solid #fff !important

  .menu-arrow
    &:before
      left: inherit
      right: 9px
    &:after
      border-bottom: 9px solid #FFF
      border-left: 9px solid rgba(0, 0, 0, 0)
      border-right: 9px solid rgba(0, 0, 0, 0)
      content: ""
      display: inline-block
      position: absolute
      top: -9px
      left: inherit
      right: 10px

  .left-sidebar
    border-right: 1px solid rgb(52, 152, 219)
    top: 50px
    overflow: scroll
    position: fixed
    width: 16.66666667%
    background: #E6F0FF
    padding: 0px 15px 50px 15px
    height: 100%
    color: rgb(52, 152, 219) !important
    a
      color: rgb(52, 152, 219) !important
    .action
      float: right
      position: relative
      .album-delete-icon
        margin-top: 12px
    .sidebar-push-down
      position: absolute
      bottom: 0
      left: 0
    
  .sidebar-wrapper
    position: relative
    
    .sidebar-responsive
      width: 60px
      height: 100%
      background: #000
      position: fixed
      overflow: scroll
      left: 0
      z-index: 101
      top: 50px
      padding-bottom: 100px
      .sidebar-toggle
        width: 30px
        height: 30px
        margin-top: 15px
        margin-left: 15px
        cursor: pointer
        .icon-bar
          border-top: 2px solid #fff
          margin-top: 8px 
          width: 30px
          display: block  

    .form-control
      height: 30px

  .push-down
    margin-top: 20px

  .pic-list, .album-index-list
    list-style: none
    padding-left: 0px
    margin-left: 0px
    li
      display: inline-block
      margin-right: 20px
      
      .pic-div
        position: relative
        width: 150px
        img
          margin-bottom: 10px
        span.delete
          a
            content: ""
            height: 25px
            width: 25px
            position: absolute
            top: -10px
            right: -10px
            background: url('close-icon.png') no-repeat 0 0
            background-size: 100%
            z-index: 100      

  .album-list
    list-style: none
    padding-left: 0
    margin-left: 0
    li
      margin: 0 -15px 0 -15px
      position: relative
      border-bottom: 1px solid #E6E6FA
      a
      .action
        .album-delete-icon
          margin-right: 15px
    li
      >a
        margin-left: 15px
        display: block
        padding: 8px 0px
        width: 100%
        text-decoration: none

    li.active, li:hover
      background: #FFF
      

  .modal-dialog
    margin-top: 200px !important

  .alert
    display: none
    width: 100%
    position: absolute
    top: 0
    z-index: 10001
    border-radius: 0 !important

  .alert-success
    color: #20B2AA !important
    background: #C3ECEB !important
    border-bottom: 1px solid #20B2AA !important

  .alert-danger
    border-bottom: 1px solid #BC8F8F !important

  .progress-div
    display: none
    margin-top: 20px
    width: 50%

  .new-album-controlls
    background: #B2D1FF
    //border-bottom: 2px solid rgba(52, 152, 219, 0.3)
    margin: 0 -15px 0 -15px
    padding: 12px 15px
    color: #fff !important
    form
      display: none
      margin-bottom: 20px
    .plus
      height: 20px
      width: 100%
      span
        font-size: 1.4em
        cursor: pointer

  .album-cover-edit
    height: 110px
    width: 110px
    .inner-box
      position: relative
      border-radius: 6px
      height: 110px
      width: 110px
      padding: 10px
      border: 4px dashed rgb(52, 152, 219) 
      img
        position: absolute
        top: 0
        left: 0
        z-index: 99
        width: 100px
        max-height: 100px
      .delete-cover
        height: 100px
        width: 100px
        border-radius: 6px
        position: absolute
        top: 0
        left: 0
        z-index: 100
        display: none
        background: rgba(0,0,0, 0.5)
        span
          position: relative
          top: 40%
          left: 6%
          color: #888
          background: #fff
          padding: 4px 7px
          border-radius: 20px
          cursor: pointer
          z-index: 100
          font-size: 12px
      p
        font-size: 12px

  .album-empty
    height: 110px
    width: 110px
    background: #E0E0E0
    border-radius: 8px
  
  .album-index-list
    .pic-div
      .image
        .glyphicon
          font-size: 44px
          display: block
      .album-cover
        position: relative
        height: 50px
        width: 50px

  .table-custom        
    width: 100%
    border-top: 1px solid #E6F0FF
    >thead
      >tr
        >th
          border-bottom: none
          padding: 15px 0
    tr
      border-bottom: 1px solid #E6F0FF
      td
        padding: 5px
      .buttons
        padding: 15px 0
      .file, .image
        width: 150px
        img
          width: 50px
          max-height: 50px

  .table-custom.file-list
    tr
      td
      .buttons
        padding: 15px 0
      .file
        font-size: 24px 

  .table-custom.users
    border-top: none   

