.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12
  float: left

.col-md-2
  width: 16.66666667%

.col-md-3
  width: 25%

.col-md-6
  width: 50%

.col-md-8
  width: 66.6666666667%

.col-md-offset-2
  margin-left: 16.66666667%


.container-main
  width: 100%

.navbar-toggle, .hidden-ie8
  display: none !important

.navbar-header
  float: left

.navbar-brand
  float: left
  width: 100%
  img
    float: left

.navbar-right
  float: right

.navbar-collapse
  display: block
  position: relative
  height: 50px

.nav>li
  display: inline
  float: left
  >a
    padding: 15px 32px
    color: #E0E0E0

.public .footer-wrapper .footer
  ul.social-1, ul.social-2
    li
      a
        background-image: none !important

    #twitter
      a
        background: url('images/twitter.png') no-repeat
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/twitter.png', sizingMethod='scale')
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/twitter.png', sizingMethod='scale')"
        background-size: 100%

    #linkedin
      a
        background: url('images/linkedin.png') no-repeat
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/linkedin.png', sizingMethod='scale')
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/linkedin.png', sizingMethod='scale')"
        background-size: 100%