body .public, html
  height: 100%
  min-height: 100%
  position: relative
img
  max-width: 100% !important
  height: auto !important

.public
  background: #fff !important

  hr
    border-top: 1px solid #E6F0FF
    margin-top: 5px

  .container-main
    background: #fff
    width: 100%
    min-height: 75%

  .navbar-default
    margin-bottom: 0
    border-radius: 0
    background: #505050
    background: linear-gradient(#525252, #4D4D4D, #484848, #414141, #3B3B3B, #353535)
    border: 0
    .navbar-brand, .navbar-brand:hover
      color: #fff
      img
        width: 30px
    .navbar-text
      color: #fff
      display: block
      padding: 15px
      margin: 0
      text-decoration: none
      &:hover
        background: rgba(254,254,254, 0.3)
    .nav
      >li
        >a
          color: #fff
          &:hover
            color: #fff
            background: rgba(254,254,254, 0.3)
          &:focus
            color: #fff
      >.open
        >a
          background-color: inherit
          color: #fff

      >.open
        >a:hover
          background-color: inherit
          color: #fff
      >.open
        >a:focus
          background-color: inherit
          color: #fff

  .well
    background: rgba(245, 245, 245, 0.6)
    border-radius: 8px

  .sign-in
    margin-top: 100px

  .main
    margin-bottom: 60px

  .btn-success
    background: rgb(52, 152, 219) !important
    color: #fff !important
    border-color: #0066FF !important

  .btn-info
    background: #808080 !important
    border: 1px solid #686868 !important
    color: #fff !important
    &:hover
      background: #909090 !important

  .album-h3
    margin-top: 0

  .pic-list, .album-index-list, .file-list
    list-style: none
    padding-left: 0px
    margin-left: 0px
    li
      display: inline-block
      margin-right: 24px
      .file-div
        font-size: 120px
        p
          font-size: 14px
        width: 150px
      .pic-div-responsive
        display: none
      .pic-div
        position: relative
        width: 150px
        img
          margin-bottom: 10px
        span.delete
          a
            content: ""
            height: 25px
            width: 25px
            position: absolute
            top: -10px
            right: -10px
            background: url('close-icon.png') no-repeat 0 0
            background-size: 100%
            z-index: 100
        span.rotate
          background: url('rotate1.png') rgba(255, 255, 255, 0.5) no-repeat 3px 3px
          background-size: 80%
          width: 20px
          height: 20px
          padding: 20px 20px
          border-radius: 20px
          position: absolute
          z-index: 100
          bottom: 16px
          right: 6px
          cursor: pointer
          display: none

        .album-cover
          position: relative
          height: 150px
          width: 150px
          -webkit-perspective: 5080px /* Chrome, Safari, Opera  */
          perspective: 5080px

          img:first-child
            margin-top: 10px !important
          .album-cover-skew
            top: 12px
            left: 6px
            position: absolute
            -webkit-transform: rotate3d(-45, 178, 0, 51deg) scaleX(1.4) scaleY(0.71)
            -moz-transform: rotate3d(-45, 178, 0, 51deg) scaleX(1.4) scaleY(0.71)
            -ms-transform: rotate3d(-45, 178, 0, 51deg) scaleX(1.4) scaleY(0.71)
            margin-bottom: 0

  .modal-dialog
    margin-top: 200px !important

  .alert
    display: none
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: 10001
    border-radius: 0 !important

  .alert-success
    color: #20B2AA !important
    background: #C3ECEB !important
    border-bottom: 1px solid #20B2AA !important

  .alert-danger
    border-bottom: 1px solid #BC8F8F !important

  .progress-div
    display: none
    margin-top: 20px
    width: 50%

  .footer-wrapper
    position: absolute
    width: 100%

    .footer
      min-height: 150px
      padding-top: 20px
      background: #F8F8F8
      box-shadow: -5px -5px 20px #D0D0D0
      p
        text-align: center

      ul.social-1, ul.social-2
        list-style: none
        padding-left: 0
        margin-left: 0
        li
          display: inline-block
          a
            display: inline-block
            width: 50px
            height: 50px

      ul.social-1
        li
          &:first-child
            a
              background: url('images/facebook.png') no-repeat
              filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/facebook.png', sizingMethod='scale')
              -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/facebook.png', sizingMethod='scale')"
              background-size: 100%
          &:nth-child(2), #twitter
            a
              background: url('images/twitter.png') no-repeat
              filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/twitter.png', sizingMethod='scale')
              -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/twitter.png', sizingMethod='scale')"
              background-size: 100%
      ul.social-2
        li
          &:first-child
            a
              img
                display: none
              background: url('images/skype.png') no-repeat
              filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/skype.png', sizingMethod='scale')
              -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/skype.png', sizingMethod='scale')"
              background-size: 100%
          &:nth-child(2), #linkedin
            a
              background: url('images/linkedin.png') no-repeat
              filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='assets/images/linkedin.png', sizingMethod='scale')
              -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='assets/images/linkedin.png', sizingMethod='scale')"
              background-size: 100%







