@media screen and ( max-width: 1200px)
  .float-right
    float: right !important


@media screen and ( max-width: 991px)
  .float-right
    float: none !important
  
  .public 
    .slideshow-wrapper 
      .slideshow
        top: -100px !important

  .admin       
    .main
      padding-left: 60px

    .left-sidebar
      position: fixed
      top: 50px
      left: -227px
      z-index: 102
      width: 227px
      height: 100%

@media screen and (max-width: 767px)
  .menu-arrow
    &:before
      display: none
    &:after
      display: none !important

  .navbar-text
    padding-left: 15px    

  .public
    .navbar-text
      padding: 10px 15px 10px 15px !important
      display: block
      margin: 0 !important

    .navbar-default  
      .nav
        >.open
          .dropdown-menu
            >li
              >a
                color: #fff
                &:hover 
                  color: #fff
                  background: rgba(254,254,254, 0.3)   

    .footer
      padding-bottom: 30px
      .social-2
        margin-bottom: 40px
      .footer-text
        position: absolute
        bottom: 0
        p
          text-align: left !important

  .public
    .pic-list li, .file-list li
      .pic-div-responsive
        display: block
        width: 150px
        margin-bottom: 20px
        padding-right: 15px
      .pic-div
        display: none


  
@media screen and (max-width: 719px)
  
  .public 
    .slideshow-wrapper 

      .slideshow
        top: 0px !important

@media screen and (max-width: 559px)
  
  .public 
    .slideshow-wrapper 
      height: auto
  .admin    

@media screen and (max-width: 380px) 

  .public
    .pic-list li, .file-list li
      width: 100%
      display: block
      .pic-div-responsive
        width: 100%
        a
          .img-thumbnail
            width: 100%



@media screen and (max-width: 320px) and (orientation: portrait)
  .public
    .album-index-list
      text-align: center
    

  .admin
    .table-custom
      tr
        .image, .file
          width: 50px
          
          padding: 0 15px 0 0 
        .buttons
          padding: 20px 0
          .btn
            padding: 3px 6px
            &:first-child
              margin-bottom: 10px
    