<%= form_for @user do |f| %>
	<% if @user.errors.any? %>
    <% flash[:alert] = content_tag( :p, "#{pluralize(@user.errors.count, "error")} prohibited the changes from being saved") %>
    <% flash[:alert] << content_tag( :ul) do
        @user.errors.full_messages.each do |msg|
          concat(content_tag( :li, msg))
        end
      end
    %>
  <% end %>
	<h3>You're almost finished. Create a password.</h3>
  <hr>
  <div class="row">
    <div class="form-group col-md-4">
    	<%= f.label :email  %>
			<%= f.email_field :email, :autofocus => true, :class => "form-control" %>
  	</div>
  </div>

  <%= f.hidden_field :confirmation_token, value: params[:confirmation_token]%>
  <%= f.hidden_field :confirmed_at %>
  <%= f.hidden_field :id, :value => @user.id %>

  <div class="row">
    <div class="form-group col-md-4">
    	<%= f.label :password %>
			<%= f.password_field :password, :autocomplete => 'off', :class => "form-control" %>
  	</div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :password_confirmation %>
			<%= f.password_field :password_confirmation, :class => "form-control", :label => "Lösenordsbekräftelse" %>
  	</div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.submit "Save", :class => "btn btn-success" %>
    </div>
  </div>
<% end %>
