<h3>Users</h3>

<table class="table-custom users">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th class="hidden-xs">E-mail</th>
      <th></th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <% if user.admin %>
        <td><span class="glyphicon glyphicon-user red"><span></td>
      <% else %>
        <td><span class="glyphicon glyphicon-user"><span></td>
      <% end %>
      <td><%= user.name %></td>
      <td class="hidden-xs"><%= user.email %></td>
      <td class="pull-right buttons">
        <%= link_to 'Edit', edit_admin_user_path(user), class: 'btn btn-info' %>
        <%= link_to 'Delete',
          [:admin, user],
          method: :delete,
          class: 'delete-user btn btn-danger',
          data: { confirm: 'Are you sure you want to delete this user?' }, remote: true
        %>
      </td>

    </tr>
   <% end %>
</table>