<%= form_for([:admin, @user]) do |f| %>

  <% if @user.errors.any? %>
    <% flash[:alert] = content_tag( :p, "#{pluralize(@user.errors.count, "error")} prohibited the user from being saved") %>
    <% flash[:alert] << content_tag( :ul) do
        @user.errors.full_messages.each do |msg|
          concat(content_tag( :li, msg))
        end
      end
    %>
  <% end %>
  <%= f.hidden_field :confirmation_token, value: generate_token  %>
  <%= f.hidden_field :confirmation_sent_at, value: Time.now  %>
  <h3>New User</h3>
  <hr>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :admin %>
      <%= f.check_box :admin %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.submit "Create user", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>
<%= link_to "Back", :back, :class => "btn btn-info" %>


