<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 well sign-in">
    <h3>Sign in</h3>

    <%= form_tag sessions_path do %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= label_tag :email %>
          <%= email_field_tag :email, params[:email], {autofocus: true, class: 'form-control'} %>
        </div>
      </div>
      <% if params[:album_id] %>
        <%= hidden_field_tag :album_id, params[:album_id] %>
      <% end %>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= label_tag :password %>
          <%= password_field_tag :password, nil ,{autocomplete: "off", class: 'form-control'} %>
        </div>
      </div>
      <%= hidden_field_tag :remember_me_token, generate_token %>
      <p><%= check_box_tag 'remember_me' %> Remember me on this computer</p>
      <div class="row">
        <div class="col-md-10 form-group">
          <%= submit_tag "Sign in", class: 'btn btn-success' %>
        </div>
      </div>

    <% end %>
    <div class="row">
      <div class="col-md-12">
        
        <p><%=link_to 'Send confirmation instructions again', new_confirmation_path %></p>
        <p><%=link_to 'Forgot password', password_new_path %></p>
      </div>
    </div>
  </div>

</div>