<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <% flash[:alert] = content_tag( :p, "#{pluralize(@user.errors.count, "error")} prohibited the changes from being saved") %>
    <% flash[:alert] << content_tag( :ul) do
        @user.errors.full_messages.each do |msg|
          concat(content_tag( :li, msg))
        end
      end
    %>
  <% end %>
  <h3>Edit your account details</h3>
  <hr>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true, :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label :email %>
      <%= f.text_field :email, :class => "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label  :password %>
      <%= f.password_field :password, :autocomplete => "off", :class => "form-control" %>
      <span class="help-inline">Leave this empty if you don't want to change your password.</span>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.label  :password_confirmation %>
      <%= f.password_field :password_confirmation, :class => "form-control" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-4">
      <label>Current password</label>
      <%= f.password_field :current_password ,:class => "form-control" %>
      <span class="help-inline">We'll be needing your current pasword if you want to change your password</span>
    </div>
  </div>
  <br/>
  <div class="row">
    <div class="form-group col-md-4">
      <%= f.submit "Save changes", :class => "btn btn-success" %>
    </div>
  </div>

<% end %>
<div class="row">
  <div class="form-group col-md-4">
    <%= link_to "Back", :back, :class => "btn btn-info" %>
  </div>
</div>
