<!DOCTYPE html>
<html>
<head>
  <title>Photos</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="/assets/photos-logo-icon.png">
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="admin">
  <nav class="navbar navbar-photos navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag("photos-logo-transparent.png", alt: "Photos logo") %> Photos</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <% if current_user %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as <%= current_user.name %> <b class="caret"></b></a>
              <ul class="dropdown-menu menu-arrow">
                <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
                <li class="divider"></li>
                <li><%= link_to 'Account', edit_admin_user_path(current_user) %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Log in', new_user_session_path %></li>
          <% end %>
          <% if current_user && current_user.admin %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
              <ul class="dropdown-menu menu-arrow">
                <li><%= link_to 'All albums', admin_albums_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Add new member', admin_new_user_registration_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Edit members', admin_users_path %></li>
              </ul>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row content">
      <div class="left-sidebar">
        <%= render partial: 'admin/albums/index', locals: { albums: Album.all.order(:created_at), album: Album.new} %>
        <div class="sidebar-push-down"></div>
      </div>
      <div class="col-md-2 hidden-sm">
      </div>
      <div class="col-md-10 col-sm-12 col-xs-12 main-content">
        <div class="sidebar-wrapper hidden-lg hidden-md">
          <div class="sidebar-responsive">
            <div class="sidebar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </div>  
          </div>
        </div>
        <div class="main">  
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-header">
            <p>Uploading... <span class="percent"></span></p>
          </div>
          <div class="progress progress-striped active">
            <div class="progress-bar"  role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
              <span class="sr-only">45% Complete</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <% if alert || notice %>
    <% @flash = 'alert' if alert %>
    <% @flash = 'notice' if notice %>
    <%= render 'flash', flash: @flash %>
  <% end %>

  <div id="notice" class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="message">
      <%= notice %>
    </div>
  </div>

  <div id="alert" class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <div class="message">
      <% if alert.kind_of?(Hash) %>
        <ul style="list-style:none;">
          <% alert.each do |e, m| %>
            <li><%= e %>: <%= m[0] %></li>
          <% end %>
        </ul>
      <% else %>
        <%= alert %>
      <% end %>
    </div>
  </div>
</body>
</html>
